# Copia este archivo como ".env.local" y pega tu connection string de Neon.tech
# La encuentras en tu dashboard de Neon.tech -> tu proyecto "invest-platform" -> Connection Details

DATABASE_URL="postgresql://usuario:password@host.neon.tech/invest-platform?sslmode=require"
